<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accounting_category.name %>
</p>

<%= link_to 'Edit', edit_accounting_category_path(@accounting_category) %> |
<%= link_to 'Back', accounting_categories_path %>
